{{ define "Dashboard" }}
   {{ template "Menu"  }}
  {{ template "Header" }}
 
   <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <center>
    <h2>Dashboard</h2>
        </center>
    <div class="container">
      <div class="row">
  <div class="col-sm-6">
      <div class="card border-primary mb-3">
        <div class="card-body">
         {{ range .}}
          <h5 class="card-title">Ongoing Projects: {{.NumProjects}}</h5>
          {{ end}}
           <h6 class="card-subtitle mb-2 text-muted">  </h6>
            <a href="/displayprojects">See Projects</a>
        </div>
      </div>  
      </div>

  <div class="col-sm-6">
      <div class="card border-danger mb-3">
        <div class="card-body">
         {{ range .}}
          <h5 class="card-title">Ongoing Issues: {{.NumIssues}}</h5>
          {{ end}}
           <h6 class="card-subtitle mb-2 text-muted"></h6>
           <a href="/bugs">See Issues</a>
        </div>
      </div> 
      </div>
      </div>
  
        <div>
         <div class="card text-dark bg-light mb-3">
        <div class="card-body">
         <canvas id="myChart" style="height: 300px; width: 100%;"></canvas>    
         </div>
         </div> 

<div class="card text-dark bg-light mb-3">
        <div class="card-body">
         <canvas id="line-chart" style="height: 300px; width: 100%;"></canvas>    
         </div>
         </div> 

            </div>
<script type="text/javascript">
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
     type: 'doughnut',
    data: {
      labels: ["Low", "Medium", "High", "Critical"],
      datasets: [
        {
          label: "Pending Urgencies",
          backgroundColor: ["#5cb85c", "#0275d8","#f0ad4e","#d9534f"],
          {{ range .}}
          data: [{{.NumLow}},{{.NumMedium}},{{.NumHigh}},{{.NumCritical}}]
          {{ end }}
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Pending Urgencies'
      }
    }
});

new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    {{range .}}
    {{ range $values := .Dates}}
    labels:   [{{ $values }}],
    {{ end }}
    {{ end }}
    datasets: [{ 
          {{range .}}
          {{range $elements :=  .IssuesPerDate}}
        data:  [{{ $elements }}],
        {{ end }}
        {{ end }}
        label: "Issues",
        borderColor: "#3e95cd",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Your Activity'
    }
  }
});





</script>
    </div>


  {{ template "Footer" }}
{{ end }}


