{{ define "Dashboard" }}
   {{ template "Menu"  }}
  {{ template "Header" }}

   <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <center>
    <h2>Dashboard</h2>
        </center>
    <div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
        {{ range .}}
          <span class="card-title">Ongoing Projects: <span class="new badge red"> {{.NumProjects}} </span></span>
          {{ end }}
        </div>
        <div class="card-action">
          <a href="/displayprojects">View</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
        {{ range .}}
          <span class="card-title">Pending Tickets:     <span class="new badge red">{{.NumIssues}}</span> </span>

          {{ end }}
        </div>
        <div class="card-action">
          <a href="/bugs">View</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
      <div class="col s12 m6">
   <div class="card">
    <div class="card-content">
      <p> <canvas id="myChart" style="height: 300px; width: 100%;"></canvas></p>
    </div>
    </div>
        </div>
        <div class="col s12 m6">
       <div class="card">
    <div class="card-content">
      <p> <canvas id="bar-chart" style="height: 300px; width: 100%;"></canvas></p>
    </div>
    </div>
    </div>
    </div>

 <div class="col s12 m6">
    <div class="card">
    <div class="card-content">
      <p> <canvas id="line-chart" style="height: 300px; width: 100%;"></canvas></p>
    </div>
    </div>
</div>

            </div>
<script type="text/javascript">
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
     type: 'doughnut',
    data: {
      labels: ["Low", "Medium", "High", "Critical"],
      datasets: [
        {
          label: "Pending Urgencies",
          backgroundColor: ["#5cb85c", "#0275d8","#f0ad4e","#d9534f"],
          {{ range .}}
          data: [{{.NumLow}},{{.NumMedium}},{{.NumHigh}},{{.NumCritical}}]
          {{ end }}
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Pending Urgencies'
      }
    }
});

new Chart(document.getElementById("bar-chart"), {
    type: 'pie',
    data: {

      labels: ["Feature", "Issue", "Note"],
      datasets: [
        {
          label: "Number of Tickets",
          {{ range .}}
          backgroundColor: ["#3e95cd","#8e5ea2","#3cba9f"],
          data: [{{ .NumFeature }},{{ .NumIssue }},{{ .NumNote }}]
          {{ end }}

        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: "Number of Tickets per Type"
      }
    }
});

new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    {{ range .}}

    labels:      [ {{range  $index, $element := .Dates}} {{if $index}},{{end}}{{$element}} {{ end }}]     ,

    datasets: [{

        data:   [{{range  $key, $value := .IssuesPerDate}}{{if $key}},{{end}}{{$value}}  {{ end }}]        ,

        lineTension: 0.1,
        label: "Tickets",
        borderColor: "rgba(75, 192, 192 ,1)",
        backgroundColor: "rgba(75, 192, 192 ,0.4)",
        borderCapStyle : 'butt',
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(75,192,192,1)",
        pointBackgroundColor:"#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        fill: false
      }
    ]
  }     {{ end }}
        ,
  options: {
    title: {
      display: true,
      text: 'Your Activity'
    }
  }
});

function addData(chart, label, data) {
    chart.data.labels.push(label);
    chart.data.datasets.forEach((dataset) => {
        dataset.data.push(data);
    });
    chart.update();
}

</script>
    </div>


  {{ template "Footer" }}
{{ end }}
