{{ define "Dashboard" }}
   {{ template "Menu"  }}
  {{ template "Header" }}
 
   <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <center>
    <h2>Dashboard</h2>
        </center>
    <div class="container">
     <table class="table table-hover table-striped" >
      <thead>
      <tr>
        <th scope="col">Ongoing Projects</th>
        <th scope="col">Ongoing Issues</th>
      </tr>
       </thead>
       <tbody>
    {{ range .  }}
      <tr>
        <td>{{ .NumProjects }} </td> 
        <td> {{ .NumIssues }} </td>
      </tr>
    {{ end }}
       </tbody>
    </table>
        <div>
         <div class="card text-dark bg-light mb-3">
        <div class="card-body">
         <canvas id="myChart" style="height: 300px; width: 100%;"></canvas>    
         </div>
         </div> 
            </div>
<script type="text/javascript">
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',
    // The data for our dataset
    data: {
        {{ range .}}
        labels: [{{ .Dates }}],
        datasets: [{
            label: 'Issue Activity',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{{ .NumIssues}}]
        }]
        {{ end}}
    },

    // Configuration options go here
    options: {}
});
</script>
    </div>


  {{ template "Footer" }}
{{ end }}


