{{ define "Dashboard" }}
   {{ template "Menu"  }}
  {{ template "Header" }}
 
   <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <center>
    <h2>Dashboard</h2>
        </center>
    <div class="container">
      <div class="row">
  <div class="col-sm-6">
      <div class="card bg-light mb-3">
        <div class="card-body">
         {{ range .}}
          <h5 class="card-title">Ongoing Projects:  <span class="badge badge-light">{{.NumProjects}}</span> </h5>
          
          {{ end}}
           <h6 class="card-subtitle mb-2 text-muted">  </h6>
           <a href="/displayprojects" class="btn btn-dark">See Projects</a>
        </div>
      </div>  
      </div>

  <div class="col-sm-6">
      <div class="card bg-light mb-3">
        <div class="card-body">
         {{ range .}}
          <h5 class="card-title">Ongoing Tickets:  <span class="badge badge-light">{{.NumIssues}}</span> </h5>
     
          {{ end}}
           <h6 class="card-subtitle mb-2 text-muted"></h6>
           <a href="/bugs" class="btn btn-dark">See Bugs</a>
        </div>
      </div> 
      </div>
      </div>
  
        <div>
         <div class="card text-dark bg-light mb-3">
        <div class="card-body">
         <canvas id="myChart" style="height: 300px; width: 100%;"></canvas>    
         </div>
         </div> 

          <div class="card text-dark bg-light mb-3">
        <div class="card-body">
         <canvas id="bar-chart" style="height: 300px; width: 100%;"></canvas>    
         </div>
         </div> 


            </div>
<script type="text/javascript">
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
     type: 'doughnut',
    data: {
      labels: ["Low", "Medium", "High", "Critical"],
      datasets: [
        {
          label: "Pending Urgencies",
          backgroundColor: ["#5cb85c", "#0275d8","#f0ad4e","#d9534f"],
          {{ range .}}
          data: [{{.NumLow}},{{.NumMedium}},{{.NumHigh}},{{.NumCritical}}]
          {{ end }}
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Pending Urgencies'
      }
    }
});

new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {

      labels: ["Feature", "Issue", "Note"],
      datasets: [
        {
          label: "Number of Tickets",
          {{ range .}}
          backgroundColor: ["#3e95cd","#8e5ea2","#3cba9f"],
          data: [{{ .NumFeature }},{{ .NumIssue }},{{ .NumNote }}]
          {{ end }}

        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: "Number of Tickets per Type"
      }
    }
});


</script>
    </div>


  {{ template "Footer" }}
{{ end }}


