{{ define "DisplayProjects" }}
  {{ template "Menu" }}
  {{ template "Header" }}

    <center>
    <h2> Your Projects </h2>
         <a class="btn-floating btn-large waves-effect waves" onclick="window.location.href='/newproject';" style="background-color: #006CFF"><i class="material-icons">add</i></a>

    </center>
    <div class="container">

  <div class="row">
    {{ range .}}
  <div class="card">
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{.ProjectName}}<i class="material-icons right">more_vert</i></span>
              <div class="card-action">
          <a href="/showproject?id={{ .Id }}">View</a>
          <a href="/editproject?id={{ .Id }}">Edit</a>
          <a href="/deleteproject?id={{ .Id }}">Resolive</a>


        </div>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Description: {{.Description}}<i class="material-icons right">close</i></span>
      <p>Technologies: {{.Technologies}}</p>
      <p>Contributers: {{range $index, $element := .Users}}{{if $index}}, {{end}} {{$element}} {{end}}</p>
    </div>


  </div>
          {{ end }}
  </div>

      <div>
         <center>
        <a class="waves-effect waves-dark btn green"  onclick="window.location.href='/importrepos';">Import from Github</a>
    </center>

  {{ template "Footer" }}
{{ end }}
