{{ define "EditProject" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   
   <center>
    <div class="container">
   <h2>Edit Project</h2>  
     <div class="row">
    <form class="col s12" method="POST" action="update">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Name" id="first_name" type="text" class="validate" name="name" value= "{{.ProjectName}}"  required >
          <label for="first_name">Name</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" name="description" value= "{{.Description}}" required></textarea>
          <label for="textarea1">Description</label>
        </div>
      </div>
          <div class="row">
        <div class="input-field col s12">
          <input id="tech"  type="text" class="validate" name="technologies" value= "{{.Technologies}}" required>
          <label for="tech">Technologies</label>
        </div>
      </div>

 <div class="row">
        <div class="input-field col s12">
    <select name="status" required>
      <option value="" disabled selected>Select a status</option>
      <option value="Public">Public</option>
      <option value="Private">Private</option>
    </select>
    <label>Status</label>
  </div>
    </div>
    <div>
        <div>
  <input type="submit" class="btn" style="background-color: #1B4192" value="Save" />
      </div>
    
    </form>

    </div>
    </center>
       
    <div>
 
  <script>
    
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
  });

    </script>

  {{ template "Footer" }}
{{ end }}