{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <center>
    <h2>Pending Tickets in Project</h2>
        </center>
    <div class="container">
    <table class="table table-hover table-striped" >
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
        <th scope="col">Priority</th>
        <th scope="col">View</th>
        <th scope="col">Edit</th>
        <th scope="col">Resolve</th>
      </tr>
       </thead>
       <tbody>
    {{ range .  }}
      <tr>
        <td>{{ .Date }} </td> 
        <td> {{ .Name }} </td>
        <td>{{ .Description }} </td> 
        <td>{{ .Kind }} </td> 
        <td>{{ .Priority }} </td> 
        <td><a href="/show?id={{ .Id }}">View</a></td>
        <td><a href="/edit?id={{ .Id }}">Edit</a></td>
        <td><a href="/delete?id={{ .Id }}">Resolve</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
    <button class="btn"  onclick="window.location.href='/new';" style="background-color: #1B4192">New Ticket</button>
    </div>

  {{ template "Footer" }}
{{ end }}



