{{ define "Issues" }}
  {{ template "Header" }}
  {{ template "Menu" }}
    <center>
    <h2> All Tickets </h2>
    </center>
    <div class="container">
    <table class="table" >
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
        <th scope="col">Priority</th>
        <th scope="col">Project</th>
      </tr>
       </thead>
       <tbody>
    {{ range .  }}
      <tr>
        <td>{{ .Date }} </td>
        <td> {{ .Name }} </td>
        <td>{{ .Description }} </td>
        <td>{{ .Kind }} </td>
        <td>{{ .Priority }} </td>
        <td>{{ .ProjectName }} </td>
      </tr>
    {{ end }}
       </tbody>
    </table>
    </div>

  {{ template "Footer" }}
{{ end }}
