{{ define "Issues" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <center>
    <h2> All Bugs </h2>
    </center>
    <div class="container">
    <table class="table" >
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Priority</th>
      </tr>
       </thead>
       <tbody>
    {{ range .  }}
      <tr>
        <td>{{ .Date }} </td> 
        <td> {{ .Name }} </td>
        <td>{{ .Description }} </td> 
        <td>{{ .Priority }} </td> 
      </tr>
    {{ end }}
       </tbody>
    </table>
    </div>

  {{ template "Footer" }}
{{ end }}



