{{ define "Menu" }}
{{ template "Header"}}

<style>
nav .nav-wrapper form, nav .nav-wrapper form .input-field{
height: 63px;
vertical-align: middle;
}
</style>


<!-- Dropdown Structure -->
  <div class="navbar-fixed">

   <div class="row">
<nav style="background-color: #006CFF">
     <div class="nav-wrapper">
  <div class="col s12">
          <a href="#" class="brand-logo">
            Bugmap
          </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
    <ul class="right hide-on-med-and-down">
      <li>
              <form method="POST" action="search">
        <div class="input-field">
          <input id="search" type="search" name="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
      </li>
      <li><a href="/displayprojects">Projects</a></li>
      <li><a href="/bugs">Tickets</a></li>
      <!-- Dropdown Trigger -->

      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons left">person</i><i class="material-icons right">arrow_drop_down</i></a></li>
      <ul id="dropdown1" class="dropdown-content">
    
    <li><a href="/userprofile">Profile</a></li>
  <li><a href="/dashboard">Dashboard</a></li>
  <li><a href="/logoutpage">Logout</a></li>
  <li class="divider"></li>
</ul>
    </ul>
       
</div>
  </div>
  </div>



</nav>

</div>

<script>
$(".dropdown-trigger").dropdown();

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });

  // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
  // var collapsibleElem = document.querySelector('.collapsible');
  // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);

  // Or with jQuery

</script>
{{ end }}
