{{ define "Menu" }}
{{ template "Header"}}

<!-- Dropdown Structure -->
  <div class="navbar-fixed">
<nav style="background-color: #1B4192">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Bugmap</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/displayprojects">Projects</a></li>
      <li><a href="/bugs">Tickets</a></li>
      <!-- Dropdown Trigger -->

      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons left">person</i><i class="material-icons right">arrow_drop_down</i></a></li>
      <ul id="dropdown1" class="dropdown-content">
  <li><a href="/dashboard">Dashboard</a></li>
  <li><a href="/logoutpage">Logout</a></li>
  <li class="divider"></li>
</ul>
    </ul>

  </div>
</nav>

</div>

  <ul id="slide-out" class="sidenav">
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    {{ range .}}
    <li><a href="/showproject?id={{ .Id }}">{{.ProjectName}}</a></li>
    {{ end }}
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        

<script>
$(".dropdown-trigger").dropdown();

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });

  // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
  // var collapsibleElem = document.querySelector('.collapsible');
  // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);

  // Or with jQuery

  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
{{ end }}