{{ define "NewProject" }}
  {{ template "Header" }}
    {{ template "Menu" }}

   <center>
    <div class="container">
   <h2>New Project</h2>  
     <div class="row">
    <form class="col s12" method="POST" action="inserproject">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Name" id="first_name" type="text" class="validate" name="name">
          <label for="first_name">Name</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" name="description"></textarea>
          <label for="textarea1">Description</label>
        </div>
      </div>
          <div class="row">
        <div class="input-field col s12">
          <input id="tech" class="validate" name="technologies">
          <label for="tech">Technologies</label>
        </div>
      </div>
      
    <div>
        <div>
  <input type="submit" class="btn" style="background-color: #33A8FF" value="Save" />
      </div>
    
    </form>

    </div>
    </center>
       
    <div>
 
  {{ template "Footer" }}
{{ end }}