{{ define "NewSession" }}
  {{ template "Header" }}
    {{ template "Menu" }}

   <center>
    <div class="container">
   <h2>New Coding Session</h2>  
     <div class="row">
    <form class="col s12" method="POST" action="insert">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Name" id="name" type="text" class="validate" name="name" required>
          <label for="name">Name</label>
        </div>
          <div class="input-field col s12">
    <select id="language" name="language" class="validate" required>
  <option value="" disabled selected>Choose a language</option>
    </select>
      <label for="language">Language</label>
  </div>
  </div>
<div>
  <input type="submit" class="btn" style="background-color: #006CFF">
      </div>
    </form>
    </div>
    <div>
        </center>
<script>

  // Or with jQuery

  $(document).ready(function(){
    $('select').formSelect();
  });


</script>


    <script>
var select = document.getElementById("language");
 var langs = ['ABAP','ABC','ActionScript', 'ADA', 'Apache_Conf','AsciiDoc','Assembly_x86','AutoHotKey',
'C9Search','C_Cpp','Cirru','Clojure','Cobol','coffee','ColdFusion','CSharp','CSS','Curly','D','Dart','Diff','Dockerfile','Dot','Dummy','DummySyntax','Eiffel','EJS','Elixir','Elm','Erlang','Forth','FTL','Gcode','Gherkin','Gitignore','Glsl','golang','Groovy','HAML','Handlebars','Haskell','haXe','HTML','HTML_Ruby','INI','Io','Jack','Jade','Java','JavaScript','JSON','JSONiq','JSP','JSX','Julia','LaTeX','LESS','Liquid','Lisp','LiveScript','LogiQL','LSL','Lua','LuaPage','Lucene','Makefile','Markdown','Mask','MATLAB','MEL','MUSHCode','MySQL','Nix','ObjectiveC','OCaml','Pascal','Perl','pgSQL','PHP','Powershell','Praat','Prolog','Properties','Protobuf','Python','R','RDoc','RHTML','Ruby','Rust','SASS','SCAD','Scala','Scheme','SCSS','SH','SJS','Smarty','snippets','Soy_Template','Space','SQL','Stylus','SVG','Tcl','Tex','Text','Textile','Toml','Twig','Typescript','Vala','VBScript','Velocity','Verilog','VHDL','XML','XQuery','YAML']
                for(var i = 0; i < langs.length; i++) {
                    var opt = langs[i];
                    var el = document.createElement("option");
                    el.textContent = opt;
                    el.value = opt;
                    select.appendChild(el);
                }

    </script>
 
  {{ template "Footer" }}
{{ end }}













