{{ define "Register" }}
  {{ template "Header" }}
    <center>
    <div class="container">
   <h2>Register an Account</h2>  
    <form method="POST" action="register">
        <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Username</span>
      </div>
      <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1" name="username" required><br />

      </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Email</span>
      </div>
      <input type="email" class="form-control" placeholder="name@example.com" aria-label="Email" aria-describedby="basic-addon1" name="email" required><br />
    </div>
    <div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Password</span>
      </div>
      <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" name="password" required><br />
    </div>
    <div>
      <input type="submit" class="btn btn-primary" value="Save" />
      </div>

      <a href="/login">Click to Register </a>
    </form>
    </center>
    <div>
  {{ template "Footer" }}
{{ end }}