{{ define "SearchResult" }}
{{ template "Menu" }}
{{ template "Header" }}
<style>
 .tabs .tab a{
            color:#000;
        } /*Black color to the text*/

        .tabs .tab a:hover {
            background-color:#0097FF;
            color:#000;
        } /*Text color on hover*/

        .tabs .tab a.active {
            background-color:#0097FF;
            color:#000;
        } /*Background and text color when a tab is active*/

        .tabs .indicator {
            background-color:#000;
        } /*Color of underline*/


</style>
<center>
<h2>Search Results<h2>
</center>
 <div class="container">
   <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#Users">Users</a></li>
        <li class="tab col s3"><a  href="#Projects">Projects</a></li>
      </ul>
    </div>
      <div id="Users" class="col s12">
 <div class="row">
    <div class="col s12 m6">
         {{range .}} 
      <div class="card">
        <div class="card-content">
    <a href="/profilesearch?uid={{ .UserId }}">  <i class="material-icons">account_circle</i> {{ .UserEmail }} </a>
    </div>
    </div>
     {{end}}
     </div>
     </div>
     </div>

 <div id="Projects" class="col s12">
 <div class="row">
    <div class="col s12 m6">
         {{range .}} 
      <div class="card">
        <div class="card-content">
    <a href="/showproject?id={{ .Id }}"> <i class="material-icons">assignment</i> {{ .ProjectName }} </a>
    </div>
    </div>
     {{end}}
     </div>
     </div>
     </div>
     </div>
     </div>
     


     {{ end }}

{{ template "footer" }}