{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <div class="container">
    <center>
    <h2> Name: {{ .Name }} </h2>
      <p>Description:  {{ .Description }}</p>
      <p>Priority:  {{ .Priority }}</p>
       <p>Date:  {{ .Date }}</p>
      <br /> <a href="/edit?id={{ .Id }}">Edit</a></p> <a href="/delete?id={{ .Id }}">Delete</a></p>
      </center>
    </div>
  {{ template "Footer" }}
{{ end }}