{{ define "ShowProject" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <div class="container">
    <center>
    <div>
      <div class="card text-dark bg-light mb-3">
        <div class="card-body ">
          <h5 class="card-title">Name: {{.ProjectName}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Technologies: {{.Technologies}}</h6>
          <p class="card-text">Description: {{.Description}}</p>
          <a href="/editproject?id={{ .Id }}" class="card-link">Edit</a>
          <a href="/deleteproject?id={{ .Id }}" class="card-link">Delete</a>
        </div>
      </div>
       </div>

       <div>
       <button type="button" class="btn btn-dark"  onclick="window.location.href='/index';">View Tickets in {{.ProjectName}}</button>
       </div>
      </center>
    </div>
  {{ template "Footer" }}
{{ end }}