{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <div class="container">
    <center>
      <div class="card text-dark bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title">{{.Name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{.Priority}}</h6>
          <h7 class="card-subtitle mb-2 text-muted">{{.Date}}</h7>
          <p class="card-text">{{.Description}}</p>
          <a href="/edit?id={{ .Id }}" class="card-link">Edit</a>
          <a href="delete?id={{ .Id }}" class="card-link">Delete</a>
        </div>
      </div>  
      </center>
    </div>
  {{ template "Footer" }}
{{ end }}