{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}


   <div class="container">
    <center>
      <div class="row">
    <div class="col s6 offset-s3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{.Name}}</span>
          <p>Type: {{.Kind}}</p>
          <p>Priority: {{.Priority}}</p>
            <p>Date: {{.Date}}</p>
          <p>Description: {{.Description}}</p>
        </div>
        <div class="card-action">
         <a href="/edit?id={{ .Id }}" class="card-link" style="color: #3949ab">Edit</a>
          <a href="/delete?id={{ .Id }}" class="card-link" style="color: #3949ab">Delete</a>
        </div>
      </div>
    </div>
  </div>

          </center>
    </div>
  {{ template "Footer" }}
{{ end }}